<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="A ChatBot that uses the Web Speech API">
    <meta name="viewport" content="width=device-width">

    <title>ChatBot | Web Speech API</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="css/styles.css"> 
  </head>

  <body>
    <section>
      <br> <h1>A Simple ChatBot</h1>
      <h2>made using the Web Speech API</h2>

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>You:  <em class="output-you">...</em></p>
          <p>Bot:  <em class="output-bot">...</em></p>
      </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>

</html>



